<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <!--/*
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <script th:inline="javascript">
    const csrfHeader = document.querySelector('meta[name="_csrf_header"]').getAttribute('content');
    const csrfToken = document.querySelector('meta[name="_csrf"]').getAttribute('content');
  </script>
  <script th:inline="javascript" sec:authorize="${isAuthenticated()}">
    const email = [[${#authentication.principal.userDTO.email}]];
  </script>
  <script th:inline="javascript" sec:authorize="${isAnonymous()}">
    const email = null;
  </script>
*/-->
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script th:src="@{/js/review/reviews.js}"></script>
  <th:block layout:fragment="customStyle"></th:block>
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <title>Berry.</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<script th:inline="javascript" sec:authorize="isAuthenticated()">
  const notificationUserId = [[${userId}]];
</script>
<script th:inline="javascript" sec:authorize="isAnonymous()">
  const notificationUserId = null;
</script>
<script th:src="@{/js/header/header.js}"></script>

<div layout:fragment="content"></div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>