<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<section layout:fragment="customStyle">
  <link rel="stylesheet" th:href="@{/css/lodge/detail.css}" />
  <link rel="stylesheet" th:href="@{/css/review/reviews.css}" />
  <link rel="stylesheet" th:href="@{/css/lodge/bookmark.css}" />
</section>
<div layout:fragment="content">

  <script th:inline="javascript">
    window.lodgeDTO = /*[[${lodgeDTO}]]*/;
    const jquerySwiperLink = document.createElement('link');
    jquerySwiperLink.rel = "stylesheet";
    jquerySwiperLink.href = "https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css";
    document.querySelector('head').appendChild(jquerySwiperLink);

    let user = null;
  </script>
  <div th:insert="~{fragments/search :: search}" class="sticky"></div>

  <div sec:authorize="isAuthenticated()">
    <script th:inline="javascript">
      user = [[${userDTO.userId}]];
      userData = [[${userDTO}]];
    </script>
  </div>

  <div class="navBar">
    <div class="container">
      <ul>
        <li class="navItem navTop">개요</li>
        <li class="navItem navRoom">객실</li>
        <li class="navItem navFacility">서비스 및 부대시설</li>
        <li class="navItem navLocation">위치</li>
        <li class="navItem navReview">리뷰</li>
      </ul>

      <div class="minPrice" th:text="${lodgeDTO.cheapestPrice}"></div>
    </div>
  </div>

  <div class="container main">
    <div id="lodgeImageArea" th:with="images=${lodgeDTO.lodgeImages}">
      <div class="bigImage image" th:style="'background-image: url(' + ${images.get(0)} + ');'" data-idx="0"></div>
      <div class="smallImage image" th:each="i:${#numbers.sequence(1, 4)}"
           th:style="'background-image:url(' + ${images.get(i)} + ');'" th:data-idx="${i}"></div>
      <button type="button" class="moreImagesBtn" th:if="${lodgeDTO.lodgeImages.size() > 5}" data-idx="0">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
          <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
          <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
        </svg>
        <span>[[${lodgeDTO.lodgeImages.size() - 5}]]+</span>
      </button>
    </div>

    <div id="titleArea">
      <span th:text="${lodgeDTO.lodgeType}"></span>
      <div class="titleAndPrice">
        <span th:text="${lodgeDTO.lodgeName}"></span>
        <span>[[${lodgeDTO.cheapestPrice}]]</span>
      </div>

      <div class="bookmark" th:classappend="${bookmark ? 'selected' : ''}" th:data-id="${lodgeDTO.lodgeId}">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="bi bi-heart-fill" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
        </svg>
      </div>
    </div>

    <div class="areaUnderTitle">
      <div class="reviewPickUpArea">
        <div class="reviewStats">
          <div class="averageReviewScore">
            ★ [[${lodgeDTO.averageReviewScore != null ? #numbers.formatDecimal(lodgeDTO.averageReviewScore, 1, 1) : '-'}]]
          </div>
          <div class="reviewCount">
            <span class="areaTitle">[[${lodgeDTO.reviewCount}]]명 평가</span>
            <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                 class="css-1hjsey4">
              <path
                  d="M7.016 14.594L12.02 10 7 5.392 8.402 4c2.816 2.545 4.485 4.076 5.007 4.594a1.978 1.978 0 010 2.812L8.422 16l-1.406-1.406z"
                  fill="current"></path>
            </svg>
          </div>
        </div>
        <div class="reviewPickUpContent">
          <p th:if="${lodgeDTO.bestReview != null}" th:text="${lodgeDTO.bestReview.content}"></p>
          <p th:if="${lodgeDTO.bestReview == null}">등록된 리뷰가 없습니다.</p>
        </div>
      </div>
      <div class="facilityPreview">
        <div class="facilityPreviewHeader">
          <span class="areaTitle">서비스 및 부대시설</span>
          <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
               class="css-1hjsey4" th:if="${lodgeDTO.facilities.size() > 6}">
            <path
                d="M7.016 14.594L12.02 10 7 5.392 8.402 4c2.816 2.545 4.485 4.076 5.007 4.594a1.978 1.978 0 010 2.812L8.422 16l-1.406-1.406z"
                fill="current"></path>
          </svg>
        </div>
        <div class="facilityPreviewTable">
          <div th:if="${lodgeDTO.facilities.size() > 0}"
               th:each="idx:${#numbers.sequence(0, 6 < lodgeDTO.facilities.size() ? 5 : lodgeDTO.facilities.size() - 1)}">
            <img
                th:src="'https://image.goodchoice.kr/images/icon_facilities/v2/icn_facil_' + ${facilityIconMap.get(lodgeDTO.facilities.get(idx))} +'.svg'">
            <span th:text="${lodgeDTO.facilities.get(idx)}"></span>
          </div>
        </div>
      </div>
      <div class="locationPreview">
        <div class="locationHeader">
          <span class="areaTitle">위치 정보</span>
          <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
               class="css-1hjsey4">
            <path
                d="M7.016 14.594L12.02 10 7 5.392 8.402 4c2.816 2.545 4.485 4.076 5.007 4.594a1.978 1.978 0 010 2.812L8.422 16l-1.406-1.406z"
                fill="current"></path>
          </svg>
        </div>
        <div class="addressLine">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
               viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
          </svg>
          <div th:text="${lodgeDTO.lodgeAddr}"></div>
        </div>
        <div class="way" th:if="${lodgeDTO.ways.size() > 0}">
          <svg width="18" height="18" viewBox="0 0 20 20" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
               class="css-1i9lodx">
            <path
                d="M2.567 8.538c.074-.255.285-.44.564-.572.279-.132 12.865-5.354 12.865-5.354s.898-.383 1.435.546c.12.425.056.643-.074.92-.13.278-5.222 12.541-5.222 12.541s-.398 1.076-1.374.829c-.42-.105-.654-.6-.654-.6s-1.586-3.937-1.775-4.433c-.156-.376-.27-.53-.607-.7-.356-.149-4.58-1.83-4.58-1.83s-.853-.401-.578-1.347z"
                fill="current"></path>
          </svg>
          <span th:text="${lodgeDTO.ways.get(0)}"></span>
        </div>
      </div>
    </div>

    <div id="roomArea" class="area">
      <span class="areaTitle">객실 선택</span>
      <div class="room" th:each="room, status:${lodgeDTO.rooms}" th:data-roomindex="${status.index}">
        <div class="roomPreviewImageArea">
          <div class="image"
               th:style="'background-image: url(' + ${room.roomImageUrls.isEmpty() ? '' : room.roomImageUrls.get(0)} + ');'"></div>
          <button type="button" class="moreImagesBtn" th:if="${room.roomImageUrls.size() > 1}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16">
              <path d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0"/>
              <path d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z"/>
            </svg>
            <span>[[${room.roomImageUrls.size() - 1}]]+</span>
          </button>
        </div>
        <div class="roomDescription">
          <span class="roomTitle" th:text="${room.roomName}"></span>
          <div class="roomDetail">
            <div class="rent" th:if="${room.rentPrice != null}">
              <span>대실</span>
              <div class="rentDetail">
                <div class="rentOption">
                  <svg width="12" height="12" viewBox="0 0 20 20" fill="#707070" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.9 5.3a.903.903 0 00-.893.79L9 6.2v3.9c0 .072.008.141.023.208a.897.897 0 00.173.496l.09.105 2.263 2.263a.9.9 0 001.354-1.18l-.081-.093L10.8 9.877V6.2a.9.9 0 00-.9-.9z"
                        fill="current"></path>
                    <path d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0a6 6 0 10-12 0 6 6 0 0012 0z" fill="current"></path>
                  </svg>
                  <div class="rentTime">
                    <div th:if="${room.rentTimeInt >= 6}" class="longRent">무한대실</div>
                    <div th:text="${room.rentTime}"></div>
                  </div>
                </div>
                <div class="rentPriceArea" th:if="${room.rentPrice != 0}">
                  <div class="rentPrice">[[${room.rentPrice}]]원</div>
                  <div class="reserveBtn paymentBtn_rent" th:data-roomid="${room.roomId}">
                    <span>대실 예약</span>
                  </div>
                </div>
                <div class="rentPriceArea" th:if="${room.rentPrice == 0}">
                  <div class="soldOut">다른 날짜 확인</div>
                </div>
              </div>
            </div>
            <div class="stay">
              <span>숙박</span>
              <div class="stayDetail">
                <div class="stayOption">
                  <svg width="12" height="12" viewBox="0 0 20 20" fill="#707070" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M9.9 5.3a.903.903 0 00-.893.79L9 6.2v3.9c0 .072.008.141.023.208a.897.897 0 00.173.496l.09.105 2.263 2.263a.9.9 0 001.354-1.18l-.081-.093L10.8 9.877V6.2a.9.9 0 00-.9-.9z"
                        fill="current"></path>
                    <path d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-2 0a6 6 0 10-12 0 6 6 0 0012 0z" fill="current"></path>
                  </svg>
                  <div class="stayTime">
                    <div th:if="${room.stayOption ne null}" class="earlyCheckIn" th:text="${room.stayOption}"></div>
                    <div th:text="${room.stayCheckIn}"></div>
                    <div th:text="${room.stayCheckOut}"></div>
                  </div>
                </div>
                <div class="stayPriceArea">
                  <th:block th:if="${room.stayPrice != 0}">
                    <div class="stayPrice">[[${room.stayPrice}]]원</div>
                    <div class="reserveBtn paymentBtn_stay" th:data-roomid="${room.roomId}">
                      <span>숙박 예약</span>
                    </div>
                  </th:block>
                  <th:block th:if="${room.stayPrice == 0}">
                    <div class="soldOut">다른 날짜 확인</div>
                  </th:block>
                </div>
              </div>
            </div>
          </div>
          <div class="personCountInfo">
            <div class="title">객실정보</div>
            <div class="content">기준[[${room.standardCount}]]인 · 최대[[${room.maxCount}]]인</div>
          </div>
        </div>
      </div>
    </div>

    <div id="facility" class="area">
      <span class="areaTitle">서비스 및 부대시설</span>
      <div class="facilityTable">
        <div th:each="facility:${lodgeDTO.facilities}">
          <img
              th:src="'https://image.goodchoice.kr/images/icon_facilities/v2/icn_facil_' + ${facilityIconMap.get(facility)} + '.svg'">
          <span th:text="${facility}"></span>
        </div>
      </div>
    </div>

    <div id="description" class="area">
      <span class="areaTitle">숙소 이용 정보</span>
      <div th:each="item : ${lodgeDTO.description}" class="descItem">
        <div class="descTitle" th:text="${item.title}"></div>
        <ul class="realList">
          <li th:each="content:${item.contents}">
            <p th:utext="${content}"></p>
          </li>
        </ul>
      </div>
    </div>

    <div id="location" class="area">
      <span class="areaTitle">위치</span>
      <div id="map"></div>
      <div id="addressArea">
        <div id="addressText" th:text="${lodgeDTO.lodgeAddr}"></div>
        <a id="addressCopy">
          주소복사
          <div id="address-copy-success">
            복사 완료!
          </div>
        </a>
      </div>
      <ul class="realList">
        <li th:each="way:${lodgeDTO.ways}" th:text="${way}" class="way"></li>
      </ul>
    </div>

    <!-- 리뷰 영역: 빈 상태로 두고 JS로 비동기 로드 -->
    <div id="reviewArea"
         th:attr="data-url=@{/reviews/view(lodgeId=${lodgeDTO.lodgeId},page=1,sort='newest')}">
      <p class="text-center text-muted">리뷰 로딩 중…</p>
    </div>

    <div id="modal">
      <div id="modalBody">
        <button type="button" id="modalCloseBtn">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg"
               viewBox="0 0 16 16">
            <path
                d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z"/>
          </svg>
        </button>

        <div id="modalHeader">
          <div id="modalTitle">
            [[${lodgeDTO.lodgeName}]]
            <div id="modalRoomTitle"></div>
          </div>
          <div id="modalNavBar">
            <div id="showLodgeImages" class="selected">전체</div>
            <div id="showRoomImages">객실</div>
          </div>
        </div>

        <div id="modalMain">
          <div id="roomNavBarContainer" class="autoSlideContainer">
            <ul id="roomNavBar" class="autoSlide">
              <li th:each="room, status:${lodgeDTO.rooms}" th:text="${room.roomName}"
                  class="autoSlideItem roomNavBarItem" th:data-idx="${status.index}" >
              </li>
              <li class="autoSlideItem placeholder"></li>
            </ul>
          </div>

          <div class="swiper" id="modalImages">
            <div class="swiper-wrapper"></div>
            <div class="swiper-pagination"></div>
            <button type="button" id="modalPrevBtn" class="modalControlBtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
              </svg>
            </button>
            <button type="button" id="modalNextBtn" class="modalControlBtn">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
              </svg>
            </button>
          </div>
        </div>

        <div id="modalFooter" class="autoSlideContainer">
          <ul id="imageSlide" class="autoSlide"></ul>
        </div>
      </div>
    </div>

    <!-- duorpeb, PRG 패턴을 사용하기 위한 div -->
    <div class="prg"></div>

    <!-- YSL -->
    <script th:src="@{/js/payment/paymentBtn.js}"></script>

      <!-- 이유현 : 네이버 지도 -->
    <script type="text/javascript" th:src="'https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=' + ${naverMapId}"></script>
    <script>
      /* 네이버 지도 API */
      let myLatLng = new naver.maps.LatLng(window.lodgeDTO.latitude, window.lodgeDTO.longitude);
      let mapOptions = {
          center: myLatLng,
          zoom: 16,
          scrollWheel: false,
          zoomControl: true,
          zoomControlOptions: {
              position: naver.maps.Position.TOP_RIGHT,
              style: naver.maps.ZoomControlStyle.SMALL
          }
      };
      let map = new naver.maps.Map('map', mapOptions);
      let marker = new naver.maps.Marker({
          position: myLatLng,
          map: map
      });
    </script>

    <script th:inline="javascript" type="module">
      import(/*[[@{/js/lodge/detail.js}]]*/).then(module => {
        module.default(/*[[${lodgeDTO}]]*/);
      });
    </script>
    <script th:inline="javascript" type="module" sec:authorize="isAuthenticated()">
      import(/*[[@{/js/lodge/bookmark.js}]]*/).then(module => {
        module.default(/*[[${userId}]]*/);
      });
    </script>
  </div>
</div>
