<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.next.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">
<section layout:fragment="customStyle">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <link rel="stylesheet" th:href="@{/css/lodge/bookmark.css}">
  <link rel="stylesheet" th:href="@{/css/review/review.css}">
</section>
<div layout:fragment="content">
  <div th:insert="~{fragments/search :: search}"></div>

  <!--/*이벤트(이미지)*/-->
  <div id="eventSection"></div>

  <!--/*최근 리뷰(10개)*/-->
  <!--/*형식은 /fragments/review.html에서 가져옴*/-->
  <div id="reviewPickUpSection" th:if="${recentReviews != null}" class="section">
    <span class="areaTitle">최신 리뷰</span>
    <div class="swiper reviewSwiper area">
      <div class="swiper-wrapper">
        <div th:each="review:${recentReviews}" class="swiper-slide">
          <a th:href="@{/lodge/detail/{id}(id=${review.lodgeId})}">
            <img th:src="${review.lodgeImage}" th:alt="${review.lodgeName}">
            <div class="reviewTextArea">
              <!-- 1. 숙소 이름-->
              <div th:text="${review.lodgeName}"></div>
              <!-- 2. 별점, 태그-->
              <div class="d-flex align-items-center review-meta mb-3">
                <div class="review-rating me-4">
                    <span th:each="i : ${#numbers.sequence(1,5)}"
                          th:text="${i <= review.rating} ? '★' : '☆'"></span>
                </div>
                <div class="review-tags d-flex flex-wrap gap-2">
                    <span th:each="tag : ${review.tags}"
                          class="badge review-tag-badge"
                          th:text="${tag}">태그명</span>
                </div>
              </div>
              <!-- 3. 리뷰 내용 -->
              <p class="review-content" th:text="${review.content}"></p>
              <!-- 4. 작성자, 날짜 -->
              <div class="review-footer">
                <div class="nickname fw-bold" th:text="${review.userEmail}"></div>
                <span class="review-date me-3"
                      th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd')}"></span>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="swiper-button-prev custom-nav">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
           class="bi bi-caret-left-fill" viewBox="0 0 16 16">
        <path
            d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
      </svg>
    </div>
    <div class="swiper-button-next custom-nav">
      <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
           class="bi bi-caret-right-fill" viewBox="0 0 16 16">
        <path
            d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
      </svg>
    </div>
  </div>

  <!--/* 비회원이면 정석적인 정렬 (최신순, 추천순, 평점순) 회원이면 (기존에 선택한 태그 키워드가 높은 숙소 보여주기) */-->
  <div id="suggestByTagSection">
    <div class="areaTitle">
      <span sec:authorize="isAuthenticated()">취향에 맞춘 추천 숙소</span>
      <span sec:authorize="isAnonymous()">인기 추천 숙소</span>
    </div>
    <div class="tag section" th:each="entry:${tagMap}" th:if="${entry.value.list.size() > 0}">
      <div class="swiper area">
        <div th:text="${entry.key}" class="tagTitle"></div>
        <div class="swiper-wrapper">
          <div th:each="lodgeWithTagCount:${entry.value.list}" class="lodge swiper-slide"
               th:with="lodge=${lodgeWithTagCount.lodgeDTO}, tagCount=${lodgeWithTagCount.tagCount}">
            <div class="swiper-slide-container">
              <div class="bookmark" th:data-id="${lodge.lodgeId}"
                   th:classappend="${bookmarks.contains(lodge.lodgeId) ? 'selected' : ''}">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" class="bi bi-heart-fill"
                     viewBox="0 0 16 16">
                  <path fill-rule="evenodd"
                        d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                </svg>
              </div>
              <a th:href="@{/lodge/detail/{id}(id=${lodge.lodgeId})}">
                <div class="lodgePreview">
                  <div class="lodgePreviewImg"
                       th:style="'background-image: url(' + ${lodge.lodgeImages.get(0)} + ');'"></div>
                  <div class="lodgePreviewTexts">
                    <div class="lodgeInfo">
                      <span class="lodgeType" th:text="${lodge.lodgeType}"></span>
                      <span class="lodgeName" th:text="${lodge.lodgeName}"></span>
                      <span class="lodgeAddr" th:text="${lodge.shortAddress}"></span>
                      <div class="lodgeReviewStatusArea">
                        <div class="averageReviewScore">
                          ★ [[${lodge.averageReviewScore != null ? lodge.averageReviewScore : '-'}]]
                        </div>
                        <div class="reviewCount">
                          <span>[[${lodge.reviewCount}]]명 중 [[${tagCount}]]명 추천</span>
                        </div>
                      </div>
                    </div>
                    <div class="lodgePrice" th:text="${lodge.cheapestPrice}"></div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-button-prev custom-nav">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
             class="bi bi-caret-left-fill" viewBox="0 0 16 16">
          <path
              d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </div>
      <div class="swiper-button-next custom-nav">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
             class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path
              d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </div>
    </div>
  </div>

  <!-- 검색 -->
  <!-- input 하나 받아서 투어 API (관광정보) 랑 네이버 검색 API 로 던져서 -->
  <!-- div1, 투어 API 정보 -->
  <!-- div2, 네이버 검색 API 정보 -->
  <div id="outerSearchSection" class="section">
    <span class="areaTitle">네이버 검색</span>
    <div id="outerSearchArea" class="area">
      <input type="text" id="outerSearchInput" name="outerSearchKeyword" aria-label="outerSearch">
      <button type="button" id="outerSearchButton">검색</button>
      <div id="outerSearchResultArea"></div>
    </div>
  </div>

  <script type="module" th:src="@{/js/index.js}"></script>
  <script type="module" th:inline="javascript" sec:authorize="${isAuthenticated()}">
    import(/*[[@{/js/lodge/bookmark.js}]]*/).then(module => {
      module.default(/*[[${userId}]]*/);
    });
  </script>
</div>