<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.next.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<head>
  <link rel="stylesheet" th:href="@{/css/payment/paymentSuccess.css}">
</head>
<div layout:fragment="content">
  <div class="suceessWrapper">
    <div class="container">
      <div class="header">
        <h1>결제 완료</h1>
      </div>
      <div class="content">
        <div class="info-box" style="text-align:center;">
          <img th:src="@{/image/Berry_logo.png}" style="width:100%">
        </div>

        <div class="btns">
          <!-- 마이 페이지로 이동-->
          <button class="btn btn-primary" onclick="location.href='/user/myPage'">
            예약 내역 보기
          </button>
          <button class="btn btn-secondary" onclick="location.href='/'">
            홈으로
          </button>
        </div>
      </div>
    </div>
  </div>
</div>